# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
client/.env
server/.env

# Build folders
dist/
client/dist/

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Render
.render/